.skills-container {
    margin: 0;
    overflow: hidden;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -125px;
}

.skills-content {
    text-align: center;
    overflow: hidden;
    height: 50%;
    max-width: 50%;
}